.cancel-button {
  cursor: pointer;
  overflow: hidden !important;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.cancel-button:hover {
  background-color: #842029;
  overflow: hidden !important;
}
