.jsoneditor-react-container {
  width: 100%;
  height: 100%;
}
.jsoneditor {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.jsoneditor-menu {
  border-radius: 0.25rem;
  background: #619cf9;
  border-bottom: 0;
}
.jsoneditor-menu > button {
  opacity: 1 !important;
}
